<h1>Welcome!</h1>
<p>Today is <%= l today, format: :short %>

<p>This app is running in <%= Rails.env.to_s %> environment.</p>

<p>Find me in app/views/welcome/index.html.erb</p>

<p>If you want to break the build, take a look at spec/lib/failing_spec.rb</p>

<!-- Edit anything after this -->

<p>You can edit anything below.</p>

